* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
}

.play-area {
    flex: 3;
}

.control-area {
    flex: 1;
}

button.tap-controls {
    background: #367;
    color: #ccc;
    line-height: 4rem;
    font-size: x-large;
    font-family: mono;
    font-weight: bolder;

    flex: 1;
}